body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
}

/* header and nav */
header {
  background-color: #555;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #fff;
  margin: 0;
}

nav {
  background-color: #555;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* sections */

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

section h2 {
  color: #555;
  margin-top: 0;
  margin-bottom: 10px;
}

section p {
    line-height: 1.6;
    margin-bottom: 10px;
}

section ul {
    margin-left: 20px;
    list-style-type: disc;

}